# CMake build outputs
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.pdb
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# CSV / LOG（新增）
*.csv
*.CSV
*.log
*.LOG
logs/
log/
*.out
*.err

# IDE
.vscode/
.VSCodeCounter/2025-10-27_23-30-43/details.md
.VSCodeCounter/2025-10-27_23-30-43/diff.txt
.VSCodeCounter/2025-10-27_23-30-43/diff-details.md
.gitignore
.gitignore
.VSCodeCounter/
**/.VSCodeCounter/